@import url(./__item/photo-grid__item.css);

.photo-grid {
     padding: 0 48px;
     display: grid;
     grid-template-columns: repeat(4, auto);
     grid-gap: 16px;
     margin-bottom: 92px;
   
}


@media (max-width: 1024px) {
    .photo-grid {
        grid-gap: 14px;
        grid-template-columns: repeat(3, auto);
    }
 }

 @media (max-width: 768px) {
    .photo-grid {
        padding: 0 24px;
        grid-gap: 16px;
        grid-template-columns: repeat(2, auto);
        margin-bottom: 88px;
    }
 }

 @media (max-width: 320px) {
    .photo-grid {
        padding: 0 16px;
        grid-gap: 12px;
        grid-template-columns: repeat(1, auto);
        margin-bottom: 64x;
    }
 }