.cover__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    max-width: 360px;
    margin: 32px 0 0;
}

@media (max-width: 768px) {
    .cover__subtitle {
        font-size: 2.34375vw;
        line-height: 2.86458333vw;
        margin: 16px 26.5625vw 0;
    }
 }

 @media (max-width: 600px) {
    .cover__subtitle {
        font-size: 2.66vw;
        line-height: 3.33vw;
        margin: 16px 21vw 0;
    }
 }

@media (max-width: 320px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 1.14;
        margin: 16px 16px 0;
    }
 }

