.lead__title {
    font-size: 96px;
    font-weight: 900;
    line-height: 1.04;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    max-width: 720px;
    margin: 0 auto;
}



@media (max-width: 768px) {
    .lead__title {
        font-size: 12.5vw	;
        line-height: 13.0208333vw;
    }
 }

@media (max-width: 320px) {
    .lead__title {
        font-size: 40px;
       line-height: 1.1;
    }
 }