.footer__links {
    list-style: none;
    margin: 0;
    padding-left: 48px;
    display: flex;
    flex-wrap: wrap;
    
}

@media (min-width: 321px) and (max-width: 710px) {
    .footer__links { 
        padding-right: 48px;
    }
}

@media (max-width: 320px) {
    .footer__links {
        flex-direction: column;
        justify-content: space-between;
        padding-left: 0;
    }
}
