.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 1.05;
    text-align: center;
    max-width: 560px;
    color: #FFFFFF;
    margin: 0;
}

/*Расчет размера шрифта*/
@media (max-width: 768px) {
    .cover__title {
        font-size: calc( (100vw - 320px)/(769 - 321) * (72 - 32) + 32px);
        line-height: calc( (100vw - 320px)/(769 - 321) * (76 - 35) + 35px); 
    }
 }

 

@media (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 1.09;
        margin: 0 16px; 
    }
 }