@import url(./__image/place__image.css);
@import url(./__link/place__link.css);
@import url(./__article/place__article.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);


.place {
    max-width: 984px;
    display: grid;
    grid-template-columns: minmax(320px, 460px) minmax(288px, 484px);
    column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 80px; 
}
/*Расстрояние до cover*/
.place:last-of-type {
    margin-bottom: 92px; 
}


/*расстрояние между блоками и расстрояние до cover*/

@media (min-width: 767px) and (max-width: 920px) {
    .place {
        margin-bottom: 76px;
    }
}


@media (max-width: 768px) {
    .place {
        margin-bottom: 72px;
        column-gap: 28px;
        
    } 
    .place:last-of-type {
        margin-bottom: 88px;
    }
}


@media (min-width: 321px) and (max-width: 710px) {
    .place {
        grid-template-columns: 1fr;
        margin-bottom: 60px;
    }
    .place:last-of-type {
        margin-bottom: 76px;
    }
}


@media (max-width: 320px) {
    .place {
        row-gap: 32px;
        margin-bottom: 48px;
    }
    .place:last-of-type {
        margin-bottom: 64px;
    }
}

