@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__item/footer__item.css);

.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 321px) and (max-width: 740px) {
    .footer {
        margin: 0 16px;
    }
}

@media (max-width: 320px) {
    .footer {
    margin: 0 118px 0 16px;
    padding-bottom: 24px;
}
}